* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.area-top {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    background-color: #1c1c1c;
    gap: 0.5rem;
}
.gmail-e-imagens {
    width: 7rem;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.gmail-button {
    width: 5rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    font-size: 0.8125rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.gmail-button:hover {
    text-decoration: underline;
}
.imagens-button {
    width: 5rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    font-size: 0.8125rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.imagens-button:hover {
    text-decoration: underline;
}
.apps {
    width: 3.5rem;
    height: 3rem;
    display: flex;
    justify-content: end;
    align-items: baseline;
}
.menu-apps {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    padding: 0.8rem;
    transition: background-color 0.3s ease;
    display: block;
}

.menu-apps path {
    fill: #bcbcbc;
    transition: fill 0.3s ease; 
}

.menu-apps:hover {
    background-color: #1c1c1c;
}

.menu-apps:hover path {
   fill: #ffffff; 
}
.login {
    width: 5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4e4fc;
    border-radius: 3rem;
}
.login button {
    color: #000000;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.container {
    width: 100%;
    height: 50rem;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.logo-google {
    width: 17rem;
    height: auto;
    display: block;
    margin: 1.25rem auto;
    margin-top: 0rem;
}

.logo-google path {
    fill: #ffffff;
}

.area1 {
    width: 42.375rem;
    height: 3.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #5c646c;
    border-radius: 3rem;
}
.button1{
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mais-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
}
.mais-icon path {
    stroke: #bcbcbc;       
    stroke-width: 0.6rem;      
    stroke-linecap:butt; 
    fill: none;            
    transition: stroke 0.3s ease; 
}
.mais-icon:hover {
    box-sizing: content-box;
    background-color: #424242;
    border-radius: 50%;
    padding: 0.375rem; 
}
#area-pesquisa {
    width: 24.96rem;
    height: 2.75rem;
    padding:  0.875rem;
    background: transparent;
    border: none;
    resize: none;
    outline: none;
}
.buttons-pqs {
    width: 14.283rem;
    height: 3.125rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button3, .button4, .button5 {
    width: auto;
    height: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.25rem;
}

.button3:hover, .button4:hover, .button5:hover {
    background-color: transparent;
}
.teclado-icon, .voz-icon, .img-icon, .lupa-icon {
    width: 1.5rem;
    height: 1.5rem;
}
.teclado-icon path, 
.voz-icon path,
.img-icon path {
    fill: #bcbcbc;
}
.button6 {
    width: auto; 
    height: 2.5rem;
    border: 0.115rem #ffffffbb solid;
    border-radius: 3.125rem;
    padding: 0.1rem 0.5rem; 
    margin-right: 0.1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: #e8e8e8
}
.button6:hover {
    background-color: transparent;
    cursor: pointer;
}
.lupa-icon path {
    fill: #e8e8e8;
}
.outside-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.outside-buttons button {
    width: 8.923rem;
    height: 2.25rem;
    border: none;
    color: #e8e8e8;
    background-color: #303134;
    border-radius: 0.5rem;
    padding: 0rem;
    cursor: pointer;
}
.rodape {
    background-color: #1c1c1c;
}
.rodape, a {
    color: #e8e8e8e8;
}
.brasil-rodape {
    width: auto;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    border-bottom: 0.1rem solid #ffffff31;
}
.buttons-rodape {
    width: auto;
    height: 2.875rem;
    display: flex;
    justify-content: space-between;

}
.buttons-rodape a {
    text-decoration: none;
}
.buttons-rodape a:hover {
    text-decoration: underline;
}
.buttons-esq {
    padding-left: 1.5rem;
    padding-top: 0.5rem;
}
.buttons-esq a {
    padding-left: 1.5rem;
}
.buttons-dir {
    padding-right: 1rem;
    padding-top: 0.5rem;
}
.buttons-dir a {
    padding-right: 1rem;
}